.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.img {
  /* margin-top: -30rem; */
  width: 100%;
  overflow: hidden;
  position: fixed;

  /* opacity: 0.9; */

  z-index: -1;
}

.main_name h1 {
  color: #dfdfdfec;
  text-align: center;
  padding-top: 27%;

  /* -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px; */

  font-size: 10rem;
}

.main_title h1 {
  color: #dfdfdfec;
  /* text-align: center; */
  margin: 0 auto;

  font-size: 3rem;
}

.main_nav a {
  text-align: center;
  padding-top: 3rem;
  color: #dfdfdfec;
  margin: 0 auto;
  font-size: 1.7rem;
}

.main_nav a:hover {
  text-decoration: none;
}

/* Rendered */

.render {
  opacity: 0.98 !important;
  z-index: 1 !important;
}

.rendered a {
  margin-top: 10rem;
}

.styled_button {
  background-color: transparent;
  border: none;
  position: absolute;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.hide_me {
  opacity: 0 !important;
}

/* About Click */

.container_about {
  position: relative;
  color: white;
  /* text-align: center; */
  background-color: slategray;
  max-width: 60%;
  margin: 0 auto;
  margin-top: -40rem !important;
  height: 37rem;

  z-index: -1;
  opacity: 0;
}

.container_about h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}

.container_about p {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 5.5rem;
  padding-left: 3rem;
}

.container_about img {
  padding-right: 2rem;
  padding-left: 1rem;
  height: 100%;
}

.container_about h4 {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 2.5rem;
}

/* Skills */

.container_skills {
  position: relative;
  color: white;
  /* text-align: center; */
  background-color: slategray;
  max-width: 60%;
  margin: 0 auto;
  margin-top: -37rem !important;
  height: 37rem;

  z-index: -1;
  opacity: 0;
}

.container_skills h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}

/* Projects */

.container_projects {
  position: relative;
  color: white;
  /* text-align: center; */
  background-color: slategray;
  max-width: 60%;
  margin: 0 auto;
  margin-top: -37rem !important;
  height: 37rem;

  z-index: -1;
  opacity: 0;
}

.container_projects h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}

/* Social */

.container_social {
  position: relative;
  color: white;
  /* text-align: center; */
  background-color: slategray;
  max-width: 60%;
  margin: 0 auto;
  margin-top: -37rem !important;
  height: 37rem;

  z-index: -1;
  opacity: 0;
}

.container_social h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}
